.obox{
    border: solid 5px;
    height: 600px;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 600px;
}
#Thagudham{
    color: floralwhite;
    font-size: 100px;
    text-align: center;
    padding-top: 170px;
}
#login,#register{
    width: 160px;
    height: 25px;
    background-color: bisque;
}
#login{
    margin-left: 580px;
}
#register a,#login a{
    color: navy;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;     
}
#login:hover{
    background-color: darkgreen;
}
#register:hover{
    background-color: darkgreen;
}